<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href=" {{ url_for('static',path='index.css')}}" rel="stylesheet">
</head>

<body>
    <nav>
        <img src="https://cdn.pixabay.com/photo/2017/07/25/11/59/logo-2537871_1280.png" alt="Logo">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <section class="hero">
        <h1>Welcome to My Website</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ullamcorper magna at neque eleifend, ac
            dignissim velit tristique.</p>
        <button>Learn More</button>
    </section>
    <section class="more-info">
        <h2>More Information</h2>
        <p>Donec in dapibus massa. Suspendisse finibus, tortor nec consequat molestie, ligula purus pulvinar eros, quis
            luctus arcu eros ut est.</p>
        <p>Proin vehicula neque nec turpis posuere, eget efficitur justo convallis. Praesent quis sagittis nunc. Aenean
            id ex tincidunt, efficitur odio vel, volutpat nulla.</p>
    </section>
    <footer>
        <div class="column">
            <h3>Column 1</h3>
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Column 2</h3>
            <ul>
                <li><a href="#">Link 4</a></li>
                <li><a href="#">Link 5</a></li>
                <li><a href="#">Link 6</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Column 3</h3>
            <ul>
                <li><a href="#">Link 7</a></li>
                <li><a href="#">Link 8</a></li>
                <li><a href="#">Link 9</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>